name: Deploy Endgame Assignment

on:
  push:
    branches:
      - main
permissions:
  id-token: write  
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Setup Python 
        uses: actions/setup-python@v5
        with:
            python-version: 3.13
    
      - name: Install Dependencies
        run: |
          python3 -m venv .venv
          source .venv/bin/activate
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt 
          pip install pytest

      - name: Run Backend Tests
        run: |
          source .venv/bin/activate
          cd backend
          pytest tests/

      - name: Run Frontend Tests
        run: |
          source .venv/bin/activate
          cd frontend
          pytest tests/  

  terraform:
    needs: test
    runs-on: ubuntu-latest
    if: success()
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.ROLE_TO_ASSUME }} 
          aws-region: eu-west-2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0
        
      - name: Terraform Init
        run: terraform init

      - name: Terraform Format
        run: terraform fmt 

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        run: |
          terraform apply -auto-approve
 