name: Deploy Endgame Assignment

on:
  push:
    branches:
      - main
permissions:
  id-token: write  
  contents: read

jobs:
  test-backend:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Setup Python 
        uses: actions/setup-python@v5
        with:
          python-version: 3.13
    
      - name: Install Dependencies
        run: |
          cd backend
          python3 -m venv .venv
          source .venv/bin/activate
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run Tests
        run: |
          cd backend
          source .venv/bin/activate
          export DB_USERNAME=${{ secrets.DB_USERNAME }}
          export DB_PASSWORD=${{ secrets.DB_PASSWORD }}
          export HOST=${{ secrets.HOST }}
          export PORT=${{ secrets.PORT }}
          export DATABASE=${{ secrets.DATABASE }}
          pytest tests/

  test-frontend:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Setup Python 
        uses: actions/setup-python@v5
        with:
          python-version: 3.13
    
      - name: Install Dependencies
        run: |
          cd frontend
          python3 -m venv .venv
          source .venv/bin/activate
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run Tests
        run: |
          cd frontend
          source .venv/bin/activate
          pytest tests/

  terraform:
    needs: [test-backend, test-frontend]
    runs-on: ubuntu-latest
    if: success()
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.ROLE_TO_ASSUME }} 
          aws-region: eu-west-2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0
        
      - name: Terraform Init
        run: terraform init

      - name: Terraform Format
        run: terraform fmt 

      - name: Terraform Plan
        run: |
          terraform plan \
            -var="db_username=${{ secrets.DB_USERNAME }}" \
            -var="db_password=${{ secrets.DB_PASSWORD }}" \
            -var="host=${{ secrets.HOST }}" \
            -var="port=${{ secrets.PORT }}" \
            -var="database=${{ secrets.DATABASE }}"

      - name: Terraform Apply
        run: |
          terraform apply -auto-approve \
            -var="db_username=${{ secrets.DB_USERNAME }}" \
            -var="db_password=${{ secrets.DB_PASSWORD }}" \
            -var="host=${{ secrets.HOST }}" \
            -var="port=${{ secrets.PORT }}" \
            -var="database=${{ secrets.DATABASE }}"
